<div class="pipeline-panel">
  <section class="event-stream">
    @if (events()) {
      <cdk-virtual-scroll-viewport
        itemSize="52"
        class="event-list"
        role="log"
        aria-label="Pipeline events">
        <div
          *cdkVirtualFor="
            let event of events();
            let i = index;
            trackBy: trackById
          "
          class="event-row">
          <sdux-devtools-pipeline-event
            [event]="event"
            [totalEvents]="totalEvents() - i"
            [expanded]="expandedIds.has(event.id)"
            (expandedChange)="
              toggleExpanded(event.id, $event)
            "></sdux-devtools-pipeline-event>
        </div>
      </cdk-virtual-scroll-viewport>
    }
  </section>
</div>
