<div
  class="pipeline-collapsible-wrapper"
  [class.pipeline-collapsible-expanded]="expanded()">
  <div
    class="pipeline-collapsible-header"
    [matTooltip]="tooltip()"
    (click)="toggle()"
    (keydown.enter)="toggle()"
    (keydown.space)="toggle()"
    tabindex="0"
    role="button"
    [attr.aria-expanded]="expanded()">
    <span class="pipeline-label">{{ label() }}</span>
    <span
      class="pipeline-chevron"
      [class.pipeline-chevron-expanded]="expanded()"
      aria-hidden="true"
      >&#9656;</span
    >
  </div>
  @if (expanded()) {
    <div class="pipeline-collapsible-content">
      <ng-content />
    </div>
  }
</div>
