<header class="header">
  <div class="title">
    <mat-select
      class="cell-filter"
      [value]="selectedCell()"
      (selectionChange)="selectedCell.set($event.value)"
      aria-label="Filter by cell">
      <mat-option value="all">View All</mat-option>
      @for (cell of cellNames(); track cell) {
        <mat-option [value]="cell">{{ cell }}</mat-option>
      }
    </mat-select>
    <mat-select
      class="cell-filter"
      [value]="selectedType()"
      (selectionChange)="selectedType.set($event.value); selectedKey.set('all')"
      aria-label="Filter by event type">
      <mat-option value="all">All Types</mat-option>
      @for (type of typeNames(); track type) {
        <mat-option [value]="type">{{
          type[0].toUpperCase() + type.slice(1)
        }}</mat-option>
      }
    </mat-select>
    @if (showKeyFilter()) {
      <mat-select
        class="cell-filter"
        [value]="selectedKey()"
        (selectionChange)="selectedKey.set($event.value)"
        aria-label="Filter by key">
        <mat-option value="all">All Keys</mat-option>
        @for (key of keyNames(); track key) {
          <mat-option [value]="key">{{ displayKeyName(key) }}</mat-option>
        }
      </mat-select>
    }
  </div>

  <div class="meta">
    @if (latestStateSize()) {
      <span
        class="state-size"
        matTooltip="Size of latest event state"
        aria-label="Size of latest event state">
        {{ latestStateSize() }}
      </span>
    }
    <button
      type="button"
      class="btn-clear"
      matTooltip="Clear all events"
      aria-label="Clear all events"
      (click)="clearEvents()">
      Clear
    </button>
  </div>
</header>

<mat-tab-group class="vault-tabs" animationDuration="200ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">
        All Events ({{ totalEvents() }})
        <button
          type="button"
          class="tab-download-btn"
          aria-label="Download all events"
          matTooltip="Download all events"
          (click)="downloadAllEvents($event)">
          <svg
            class="download-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="18"
            height="18">
            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
          </svg>
        </button>
      </span>
    </ng-template>
    <section class="vault-tab-content">
      <sdux-devtools-main-pipeline-panel
        [events]="filteredEvents()"></sdux-devtools-main-pipeline-panel>
    </section>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">
        Error Events ({{ errorEvents().length }})
        <button
          type="button"
          class="tab-download-btn"
          aria-label="Download error events"
          matTooltip="Download error events"
          (click)="downloadErrorEvents($event)">
          <svg
            class="download-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="18"
            height="18">
            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
          </svg>
        </button>
      </span>
    </ng-template>
    <section class="vault-tab-content">
      <sdux-devtools-main-pipeline-panel
        [events]="errorEvents()"></sdux-devtools-main-pipeline-panel>
    </section>
  </mat-tab>
</mat-tab-group>
