@use 'global' as global;

:host {
  display: block;
}

.event-table-wrapper {
  overflow-x: auto;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
  font-size: global.$font-size-xs;
  font-family: monospace;
  display: block;

  thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid global.$sdux-border-active;

    th {
      background: global.$sdux-surface-lightish;
    }
  }

  tbody {
    display: block;
    overflow-y: auto;

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }

  th,
  td {
    padding: global.$spacing-xs global.$spacing-sm;
    text-align: left;
    border-bottom: 1px solid global.$sdux-border-default-sm;
  }

  th {
    color: global.$sdux-text-secondary;
    font-weight: global.$font-weight-medium;
    white-space: nowrap;
  }

  .col-index {
    width: 30px;
    text-align: right;
    color: global.$sdux-text-secondary;
  }

  .col-event {
    width: 220px;
    white-space: nowrap;
  }

  .col-boundary {
    width: 60px;
  }

  .col-delta {
    width: 50px;
    text-align: right;
  }

  .col-elapsed {
    width: 50px;
    text-align: right;
  }

  .col-state,
  .col-payload,
  .col-error {
    width: 40px;
    text-align: center;
  }

  .row-error {
    background: rgb(255 0 0 / 5%);
  }

  .row-selected {
    background: global.$sdux-surface-overlay-active;
  }

  tbody tr {
    transition: background 0.15s ease;
    cursor: pointer;

    &:hover {
      background: global.$sdux-surface-hover;
    }
  }
}

.indicator {
  cursor: default;
}

.indicator-state {
  color: global.$sdux-success-base;
}

.indicator-payload {
  color: global.$sdux-primary-base;
}

.indicator-error {
  color: global.$sdux-accent-base;
}

.short-label {
  display: none;
}

@media (max-width: global.$breakpoint-md) {
  .full-label {
    display: none;
  }

  .short-label {
    display: inline;
  }

  .event-table-wrapper {
    max-height: 330px;
    overflow-y: auto;
  }

  .event-table {
    min-width: 500px;
    display: table;
    border-collapse: separate;
    border-spacing: 0;

    thead th {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group;
      height: auto;
      overflow-y: visible;

      tr {
        display: table-row;
      }
    }
  }
}
