<sdux-multi-framework-example
  description="Initialize Vault and Register FeatureCell"
  [displayCopyPaste]="false">
  <ng-template #angular>
    <pre class="code-inline"><code class="language-ts">// app.config.ts
export const appConfig: ApplicationConfig = &#123;
  providers: [
    provideVault(&#123; logLevel: 'off' &#125;),
    provideFeatureCell(
      EmployeeCell,
      &#123;
        key: 'employees',
        initialState: []
      &#125;
    )
  ]
&#125;;

// example.service.ts
&#64;FeatureCell&lt;Employee[]&gt;('employees')
&#64;Injectable(&#123; providedIn: 'root' &#125;)
export class EmployeeCell &#123;
  private readonly vault = injectVault&lt;Employee[]&gt;(EmployeeCell);
  readonly state = this.vault.state;

  constructor() &#123;
    this.vault.initialize();

    this.vault.replaceState(&#123;
      loading: false,
      value: [
        &#123; id: 1, name: 'Ada' &#125;,
        &#123; id: 2, name: 'Brian' &#125;
      ],
      error: null
    &#125;);
  &#125;
&#125;</code></pre>
  </ng-template>
  <ng-template #core>
    <pre class="code-inline"><code class="language-ts">// employee.cell.ts
Vault(&#123;
  logLevel: 'off'
&#125;);

export const employeeCell = FeatureCell&lt;Employee[]&gt;(&#123;
  key: 'employees',
  initialState: []
&#125;);

employeeCell.initialize();

export function loadEmployees(): void &#123;
  employeeCell.replaceState(&#123;
    loading: false,
    value: [
      &#123; id: 1, name: 'Ada' &#125;,
      &#123; id: 2, name: 'Brian' &#125;
    ],
    error: null
  &#125;);
&#125;

export const employeeState = employeeCell.state;
export const employeeState$ = employeeCell.state$;</code></pre>
  </ng-template>
</sdux-multi-framework-example>
