<mat-sidenav-container class="sdux-sidenav-container">
  <mat-sidenav
    #sidenav
    class="sdux-sidenav"
    [mode]="mode()"
    [(opened)]="isExpanded"
    position="start"
    (closed)="closing()"
    role="navigation"
    aria-label="SDuX Documentation Navigation">
    <div class="sidenav-content">
      <mat-nav-list class="navigation-list">
        <!-- ========================== -->
        <!-- Top-Level Navigation -->
        <!-- ========================== -->

        <div class="menu-content-container">
          <a
            mat-list-item
            routerLink="builder"
            routerLinkActive="active"
            (click)="closeSidenav()">
            <div class="menu-icon menu-content">
              Pipeline Builder <sdux-new />
            </div>
          </a>
        </div>

        <mat-divider></mat-divider>

        <div class="menu-content-container">
          <a
            mat-list-item
            routerLink="/stackblitz"
            routerLinkActive="active"
            (click)="closeSidenav()">
            <div class="menu-content">StackBlitz Examples</div>
          </a>
        </div>

        <mat-divider></mat-divider>

        <sdux-getting-started-subnavigation />

        <mat-divider></mat-divider>

        <sdux-tutorial-subnavigation />

        <mat-divider></mat-divider>

        <sdux-migration-subnavigation></sdux-migration-subnavigation>

        <mat-divider></mat-divider>

        <sdux-vault-feature-cell-api-subnavigation />

        <mat-divider></mat-divider>

        <sdux-pipeline-subnavigation></sdux-pipeline-subnavigation>

        <mat-divider></mat-divider>

        <sdux-pipeline-controllers-subnavigation />

        <mat-divider></mat-divider>

        <sdux-pipeline-behaviors-subnavigation />

        <mat-divider></mat-divider>

        <sdux-pipeline-extensions-subnavigation />

        <mat-divider></mat-divider>

        <div class="menu-content-container">
          <a
            mat-list-item
            routerLink="/docs/global-error-handler"
            routerLinkActive="active"
            (click)="closeSidenav()">
            <div class="menu-content">Global Error Handler</div>
          </a>
        </div>

        <mat-divider></mat-divider>

        <sdux-execution-guarantee-subnavigation />

        <mat-divider></mat-divider>

        <sdux-dev-tools-subnavigation />

        <mat-divider></mat-divider>

        <sdux-reference-guides-subnavigation />

        <mat-divider></mat-divider>

        <sdux-licensing-subnavigation />

        <mat-divider></mat-divider>

        <div class="menu-content-container">
          <a
            mat-list-item
            routerLink="/blog"
            routerLinkActive="active"
            (click)="closeSidenav()">
            <div class="menu-content">Blog</div>
          </a>
        </div>

        <mat-divider></mat-divider>

        <nav aria-label="Get Involved">
          <mat-expansion-panel
            class="nav-expansion"
            routerLinkActive
            #getInvolvedRla="routerLinkActive"
            [expanded]="getInvolvedRla.isActive">
            <mat-expansion-panel-header>
              <span class="nav-section-label">Get Involved</span>
            </mat-expansion-panel-header>

            <a
              mat-list-item
              routerLink="/docs/welcome/roadmap"
              routerLinkActive="active"
              (click)="closeSidenav()">
              <div class="menu-content">Roadmap (Call for Help)</div>
            </a>

            <a
              mat-list-item
              routerLink="/docs/welcome/contributors"
              routerLinkActive="active"
              (click)="closeSidenav()">
              <div class="menu-content">Contributors</div>
            </a>
          </mat-expansion-panel>
        </nav>

        <div class="menu-content-container">
          <a
            mat-list-item
            routerLink="/sdux/vault"
            routerLinkActive="active"
            (click)="closeSidenav()">
            <div class="menu-icon menu-content">
              <sdux-image
                class="logo"
                image="brand/sdux/sdux-vault-logo.svg"
                height="20"></sdux-image>
              Purchase {{ vaultBrandName }}
            </div>
          </a>
        </div>

        <div class="menu-content-container">
          <a
            mat-list-item
            routerLink="/sdux/enterprise"
            routerLinkActive="active"
            (click)="closeSidenav()">
            <div class="menu-content">
              <sdux-brand-name /> Enterprise Support
            </div>
          </a>
        </div>

        <div class="menu-content-container">
          <a
            mat-list-item
            routerLink="/sdux/training"
            routerLinkActive="active"
            (click)="closeSidenav()">
            <div class="menu-content"><sdux-brand-name /> Trainings</div>
          </a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sdux-main-content" role="main">
    <h1 class="sr-only">SDuX Vault</h1>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="button-toggle-container sdux-sidenav-toggle">
  <button
    type="button"
    class="button-toggle"
    [class.pill-toggle]="!isExpanded()"
    aria-label="Toggle Site Navigation"
    (click)="toggleSidenav()"
    matTooltip="Toggle Site Navigation">
    <mat-icon>
      {{ isExpanded() ? 'chevron_left' : 'chevron_right' }}
    </mat-icon>
    @if (!isExpanded()) {
      <span class="pill-label">View Docs</span>
    }
  </button>
</div>
