@use 'global' as global;

:host {
  display: inline-flex;
}

.export-btn {
  @include global.sdux-icon-button(28px, transparent);
  color: global.$sdux-text-white;
  border: 1px solid global.$sdux-surface-outline;
  border-radius: global.$border-radius-sm;
  height: global.$button-height;
  background-color: global.$sdux-primary-base;
}
