<nav aria-label="DevTools">
  <mat-expansion-panel
    class="nav-expansion"
    routerLinkActive
    #devtoolsRla="routerLinkActive"
    [expanded]="forceExpanded() || devtoolsRla.isActive">
    <mat-expansion-panel-header>
      <span class="nav-section-label">DevTools</span>
    </mat-expansion-panel-header>

    <a
      mat-list-item
      routerLink="/docs/dev-tools/overview"
      routerLinkActive="active"
      (click)="closeSidenav()">
      <span class="menu-content sub-item">Overview</span>
    </a>

    <a
      mat-list-item
      routerLink="/docs/dev-tools/built-in-debugger"
      routerLinkActive="active"
      (click)="closeSidenav()">
      <span class="menu-content sub-item"
        >Built-in <sdux-brand-name /> Debugger</span
      >
    </a>

    <a
      mat-list-item
      routerLink="/docs/dev-tools/chrome-devtools-extension"
      routerLinkActive="active"
      (click)="closeSidenav()">
      <span class="menu-content sub-item">Chrome DevTools Extension</span>
    </a>

    <a
      mat-list-item
      routerLink="/docs/dev-tools/event-bus"
      routerLinkActive="active"
      (click)="closeSidenav()">
      <span class="menu-content sub-item">Custom Devtools API (Event Bus)</span>
    </a>

    <a
      mat-list-item
      routerLink="/docs/dev-tools/vault-monitor"
      routerLinkActive="active"
      (click)="closeSidenav()">
      <span class="menu-content sub-item">Vault Monitor</span>
    </a>
  </mat-expansion-panel>
</nav>
