<div
  class="header-section"
  [class.collapsed]="!expanded()"
  role="button"
  tabindex="0"
  [attr.aria-expanded]="expanded()"
  [attr.aria-label]="ariaLabel()"
  (click)="toggle()"
  (keydown.enter)="toggle()"
  (keydown.space)="$event.preventDefault(); toggle()">
  <div class="header-content">
    <ng-content select="[header]" />
  </div>
  @if (showChevron()) {
    <mat-icon
      class="chevron"
      [class.expanded]="expanded()"
      aria-hidden="true"
      matTooltip="Toggle section details"
      >chevron_right</mat-icon
    >
  }
</div>
@if (expanded()) {
  <ng-content />
}
