@use 'global' as global;

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.app-shell {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: global.$spacing-md;
  border-radius: 0 0 global.$border-radius-sm global.$border-radius-sm;

  @include global.sdux-surface(global.$sdux-surface-mid);
  @include global.sdux-text(global.$sdux-text-primary);
}

.toolbar-wrapper {
  width: 100%;
  flex-shrink: 0;
}

.router-container {
  flex: 1;
  width: 100%;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
