<nav aria-label="Getting Started">
  <mat-expansion-panel
    class="nav-expansion"
    routerLinkActive
    #gettingStartedRla="routerLinkActive"
    [expanded]="forceExpanded() || gettingStartedRla.isActive">
    <mat-expansion-panel-header>
      <span class="menu-content parent-expansion-item">Getting Started</span>
    </mat-expansion-panel-header>

    <div class="sub-menu">
      <a
        mat-list-item
        routerLink="/docs/welcome/getting-started"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content sub-item">Start Here</div>
      </a>

      <a
        mat-list-item
        routerLink="/docs/welcome/core-concepts"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content sub-item">Core Concepts</div>
      </a>

      <a
        mat-list-item
        routerLink="/docs/welcome/what-is-sdux"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content sub-item">
          What is <sdux-brand-name [tm]="false" />?
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/docs/welcome/supported-languages"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content sub-item">
          <sdux-brand-name [tm]="false" /> Supported Languages
        </div>
      </a>

      <a
        mat-list-item
        routerLink="/docs/welcome/sdux-redux-similarities"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content sub-item">
          <sdux-brand-name [tm]="false" /> / Redux Similarities
        </div>
      </a>

      <a
        mat-list-item
        routerLink="/docs/welcome/how-to-define-your-state"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content sub-item">How to Define Your State</div>
      </a>

      <a
        mat-list-item
        routerLink="/docs/welcome/best-practices"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content sub-item">Best Practices</div>
      </a>
    </div>
  </mat-expansion-panel>
</nav>
