<nav aria-label="Getting Started">
  <mat-expansion-panel class="nav-expansion" [expanded]="forceExpanded()">
    <mat-expansion-panel-header>
      <span class="nav-section-label">Getting Started</span>
    </mat-expansion-panel-header>

    <div class="menu-content-container">
      <a
        mat-list-item
        routerLink="/docs/welcome/getting-started"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content">Start Here</div>
      </a>
    </div>

    <div class="menu-content-container">
      <a
        mat-list-item
        routerLink="/docs/welcome/core-concepts"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content">Core Concepts</div>
      </a>
    </div>

    <div class="menu-content-container">
      <a
        mat-list-item
        routerLink="/docs/welcome/what-is-sdux"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content">
          What is <sdux-brand-name [tm]="false" />?
        </div>
      </a>
    </div>

    <div class="menu-content-container">
      <a
        mat-list-item
        routerLink="/docs/welcome/supported-languages"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content">
          <sdux-brand-name [tm]="false" /> Supported Languages
        </div>
      </a>
    </div>

    <div class="menu-content-container">
      <a
        mat-list-item
        routerLink="/docs/welcome/sdux-redux-similarities"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content">
          <sdux-brand-name [tm]="false" /> / Redux Similarities
        </div>
      </a>
    </div>

    <div class="menu-content-container">
      <a
        mat-list-item
        routerLink="/docs/welcome/how-to-define-your-state"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content">How to Define Your State</div>
      </a>
    </div>

    <div class="menu-content-container">
      <a
        mat-list-item
        routerLink="/docs/welcome/best-practices"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-content">Best Practices</div>
      </a>
    </div>
  </mat-expansion-panel>
</nav>
