@use 'global' as global;

.page-container {
  width: calc(100% - 2 * global.$spacing-md);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: global.$spacing-md;
  padding: global.$spacing-md;

  .state-container {
    width: 100%;
    height: 250px;
    border: 1px solid red;
  }

  .timeline-container {
    width: 100%;
    height: 110px;
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: auto;

    .timeline-row {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      gap: global.$spacing-md;

      .timeline {
        width: 10px;
        height: 50px;
        border: 1px solid global.$sdux-surface-outline;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        transform-origin: bottom center;
        &:hover {
          transform: scale(2);
          z-index: 2;
        }

        &.selected {
          background-color: global.$sdux-primary-base;
          color: global.$sdux-text-white;
          transform: scale(2);
          z-index: 3;
        }
      }
    }
  }

  .event-container {
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;

    .event-column-container {
      width: 50%;
      overflow: auto;
      height: 500px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      border: 1px solid black;

      .event-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: flex-start; // IMPORTANT
        padding-top: global.$spacing-md;
        padding-bottom: global.$spacing-md; // optional but recommended

        gap: global.$spacing-md;

        border: 1px solid blue;

        .event {
          width: 250px;
          height: 50px;
          border: 1px solid global.$sdux-surface-outline;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

          transform-origin: center center;
          &:hover {
            transform: scale(1.25);
            z-index: 2;
          }

          &.selected {
            background-color: global.$sdux-primary-base;
            color: global.$sdux-text-white;
            transform: scale(1.25);
            z-index: 3;
          }
        }
      }
    }

    .event-data-container {
      width: 50%;
      height: 500px;
      border: 1px solid red;
    }
  }
}
