@use 'global' as global;

.docs-container {
  max-width: 800px;
  background-color: var(--sdux-surface-bg);

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: global.$spacing-md;
    width: 100%;

    .sdux-button {
      width: 150px;
    }
  }

  .contact-confirmation {
    margin-top: global.$spacing-md;
    font-weight: global.$font-weight-medium;
    color: global.$sdux-success-base;
  }

  .contact-error {
    margin-top: global.$spacing-md;
    font-weight: global.$font-weight-medium;
    color: global.$sdux-accent-base;
  }

  .contact-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: global.$spacing-xs;
  }

  .form-divider {
    border-top: 2px solid global.$sdux-primary-base;
    padding-top: global.$spacing-md;
    margin-top: global.$spacing-md;
  }
}
