<nav aria-label="Pipeline">
  <mat-expansion-panel
    class="nav-expansion"
    #pipelineRla="routerLinkActive"
    routerLinkActive
    [routerLinkActiveOptions]="{ exact: true }"
    [expanded]="forceExpanded() || pipelineRla.isActive">
    <mat-expansion-panel-header>
      <span class="menu-content parent-expansion-item">Pipeline</span>
    </mat-expansion-panel-header>

    <div class="sub-menu">
      <a
        mat-list-item
        routerLink="docs/pipeline"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeSidenav()">
        <span class="menu-content sub-item">Overview</span>
      </a>

      <a
        mat-list-item
        routerLink="docs/pipeline/pipeline-architecture"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <span class="menu-content sub-item"
          ><sdux-brand-name /> Pipeline Architecture
        </span>
      </a>

      <a
        mat-list-item
        routerLink="builder"
        routerLinkActive="active"
        (click)="closeSidenav()">
        <div class="menu-icon menu-content sub-item">
          Pipeline Builder <sdux-new />
        </div>
      </a>
    </div>
  </mat-expansion-panel>
</nav>
