@if (event()) {
  <div class="event-row-header">
    <div class="counter">
      {{ totalEvents() | number: '3.0' }}
    </div>

    <!-- Cell name -->
    <div class="cell">{{ event().cell }}</div>

    <!-- Badge -->
    <div class="badge {{ event().type }}">
      {{ event().type.toUpperCase() }}
    </div>

    <!-- Time -->
    <div class="ts">
      {{ event().timestamp | date: 'HH:mm:ss.SSS' }}
    </div>
  </div>
  <details class="event-details">
    <summary>Details</summary>

    <div class="detail-block">
      <h4>State</h4>
      <ul class="kv">
        <li><strong>id:</strong> {{ event().id }}</li>
        <li><strong>isLoading:</strong> {{ event().state?.isLoading }}</li>
        <li><strong>hasValue:</strong> {{ event().state?.hasValue }}</li>
        <li>
          <strong>error:</strong> {{ event().state?.error?.message ?? 'null' }}
        </li>
      </ul>
      @if (event().state?.value) {
        <pre>{{ event().state?.value | json }}</pre>
      }
    </div>

    @if (event().payload) {
      <div class="detail-block">
        <h4>Payload</h4>
        <pre>{{ event().payload | json }}</pre>
      </div>
    }

    @if (event().error) {
      <div class="detail-block error-block">
        <h4>Error</h4>
        <pre>{{ event().error | json }}</pre>
      </div>
    }
  </details>
}
