@use 'global' as global;

.event-row-header {
  width: 100%;
  display: grid;
  grid-template-columns: 4rem 140px 1fr auto; // Counter | Cell | spacer | Time
  align-items: center;
  gap: global.$spacing-md;
}

.badge {
  @include global.sdux-text(
    global.$sdux-text-white,
    global.$font-weight-semibold
  );
  font-size: global.$font-size-xs;
  padding: global.$spacing-xs global.$spacing-sm;
  border-radius: global.$border-radius-xs;
  justify-self: start;

  &.init {
    background-color: global.$sdux-success-base;
  }
  &.patch {
    background-color: global.$sdux-warn-base;
    color: global.$sdux-text-black;
  }
  &.error {
    background-color: global.$sdux-accent-base;
  }
}

.counter {
  @include global.sdux-text(global.$sdux-text-secondary);
  font-size: global.$font-size-sm;
  width: 3rem;
  text-align: left;
}

.cell {
  @include global.sdux-text(global.$sdux-text-secondary);
  font-weight: global.$font-weight-medium;
  font-size: global.$font-size-md;
  min-width: 125px;
}

.ts {
  @include global.sdux-text(global.$sdux-text-secondary);
  font-size: global.$font-size-xs;
  white-space: nowrap;
}
/* ----------------------------------------------
     DETAILS (STATE, PAYLOAD, ERROR)
  ------------------------------------------------*/
.event-details {
  grid-column: 1 / -1;
  margin-top: global.$spacing-xs;
  padding-left: global.$spacing-sm;

  summary {
    cursor: pointer;
    @include global.sdux-text(global.$sdux-primary-base);
    font-size: global.$font-size-sm;
    margin-bottom: global.$spacing-xs;

    &:hover {
      text-decoration: underline;
    }
  }

  .detail-block {
    margin-bottom: global.$spacing-md;

    h4 {
      @include global.sdux-text(
        global.$sdux-text-primary,
        global.$font-weight-semibold
      );
      font-size: global.$font-size-md;
      margin-bottom: global.$spacing-xs;
    }

    .kv {
      list-style: none;
      padding: 0;
      margin: 0 0 global.$spacing-xs 0;

      li {
        margin-bottom: global.$spacing-xs;
        font-size: global.$font-size-sm;
      }
    }

    pre {
      background-color: global.$sdux-surface-dark;
      border: 1px solid global.$sdux-surface-outline;
      border-radius: global.$border-radius-sm;
      padding: global.$spacing-sm;
      font-size: global.$font-size-xs;
      overflow-x: auto;
      color: global.$sdux-text-primary;
    }
  }

  .error-block {
    pre {
      background-color: global.$sdux-accent-dark;
      border-color: global.$sdux-accent-light;
    }
  }
}
