@use 'global' as global;

:host {
  display: inline-flex;
}

.export-btn {
  @include global.sdux-icon-button(28px, transparent);
  color: global.$sdux-primary-light;

  &:hover {
    background-color: global.$sdux-primary-base;
    color: global.$sdux-text-white;
  }
}
