@use 'global' as global;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.hot-stage-ranking-page {
  display: flex;
  flex-direction: column;
  gap: global.$spacing-md;
  padding: global.$spacing-md;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    gap: global.$spacing-md;

    h2 {
      margin: 0;
      font-size: global.$font-size-lg;
      font-weight: global.$font-weight-bold;
      color: var(--sdux-text-primary);
    }

    .cell-filter {
      width: 250px;
    }
  }

  .meta {
    display: flex;
    align-items: center;
  }
}
